# Active la réécriture d'URL :
RewriteEngine On

# RewriteCond %{SERVER_PORT} 80
# RewriteRule ^(.*)$ https://meetmee.ch/$1 [R,L]

# Si le fichiers demandé n'existe pas :
RewriteCond %{REQUEST_FILENAME} !-f
# Si le dossier demandé n'existe pas non plus :
RewriteCond %{REQUEST_FILENAME} !-d
# On redirige vers index.php

RewriteRule . index.php [L]

RewriteRule ^([^\.]+)$ $1.php